In [ ]:
1.Write a Python program to replace all occurrences of a space, comma, or dot with a colon.

In [5]:
Txt= 'python Exercises, PHP exercises.'

In [6]:
New_Txt=Txt.replace(' ',' : ').replace(',',':').replace('.',':')
print(New_Txt)

python : Exercises: : PHP : exercises:

In [8]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [ ]:
2.-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.

In [12]:
Dictionary={'SUMMARY':['hello,world','XXXXX test','123four,five:;six...']}

In [31]:
df=pd.DataFrame(Dictionary)
df

                SUMMARY
0           hello,world
1            XXXXX test
2  123four,five:;six...

In [33]:
df['SUMMARY']=df['SUMMARY'].str.replace('[^a-zA-Z\s]','',regex=True)
df

       SUMMARY
0   helloworld
1   XXXXX test
2  fourfivesix

In [ ]:
3. Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [35]:
import re

In [44]:
import re
def find_words(string):
  pat=re.compile(r'\b\w{3,5}\b')
  matches=pat.findall(string)
  return matches

In [45]:
string="This is a sample with words of different lengths."
result=find_words(string)
print(result)

['This', 'with', 'words']

In [ ]:
4. - Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [89]:
import re
def find_words(string):
  pat=re.compile(r'\b\w{3,5}\b')
  matches=pat.findall(string)
  return matches

In [90]:
string="This is a sample with words of different lengths."
result2=find_words(string)
print(result2)

['This', 'with', 'words']

In [ ]:
5. - Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory/y/.

In [105]:

def remove_parentheses(strings):
    pattern=re.compile(r"\(\)")
    modified_strings=[]
    modified_string=re.sub(pattern,"",string)
    modified_strings.append(modified_string)
    return modified_strings

In [107]:
def remove_parentheses(sample_text):
    pattern=re.compile(r"\(\)")
    sample_text=["example (.com)","hr@fliprobo (.com)","github (.com)","Hello (Data Science World)","Data (Scientist)"]
    result1=remove_parentheses(sample_text)
print(result1)

['This is a sample with words of different lengths.']

In [ ]:
7. Write a regular expression in Python to split a string into uppercase letters.

In [120]:
import re
Sampletext = "ImportanceOfRegularExpressionsInPython"
print(re.findall('[A-Z][^A-Z]*', Sampletext))

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [ ]:
8.Create a function in python to insert spaces between words starting with numbers

In [144]:
import re
def Insert_spaces(Sample_Text): 
    Sample_Text="RegularExpression1IsAn2ImportantTopic3InPython"
    Pattern=r'(\d+)([(A-Za-Z]+)' 
    output=re.sub(pattern,r'\1\2',Sample_Text)
    print(Output)